html
  head
    link(rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Fjalla+One')
    link(rel='stylesheet' href='/site.css')
  body
    h1 Maximum Panda
    p a Panda Strike production
